body, h1, table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
  }
  
  .main-container {
    display: grid;
    grid-template-areas: 
      "header header";
    grid-template-columns: 1fr 3fr;
  }
  
  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    height: 40px;
  }
  
  .search-container input,
  .search-container button {
    padding: 5px;
  }
  
  .sidebar {
    background-color: #f2f2f2;
    height: 100vh; /* Example height */
    width: 20vw;
    position:fixed;
    top:80px;
    z-index: 9999;
  }

  .add-btn {
    display: inline;
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
  }
  
  .country-content {
    margin-left: 20vw;
  }

  .school-content {
    margin-left: 20vw;
  }
  
  .toggle-switch {
    margin-bottom: 10px;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination a {
    /* display: ; */
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
  }
  
  .pagination .active {
    background-color: #007bff;
    color: white;
  }
  
  .button-list{
    list-style-type: disc;
    padding: 0;
  }

  .button-list li{
    display: inline;
    margin-right: 0px;
    margin-left: 5px;
  }

  .button-list button{
    padding: 5px 40px;
    border: 1px solid white;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    width:18vw;
  }

  .button-list button:active{
    background-color: #24061f;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
    margin-left: 20px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:checked + .slider:before {
    transform: translateX(46px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .editable {
    display: inline-block;
    margin-left: 5px;
  }

  .country-select {
    background-color: #f0f0f0;
    color: #2e0d0d;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 5px;
    margin-left: 10px;
    width: 200px;
    height: 40px;
  }

  #school-select {
    background-color: #f0f0f0;
    color: #2e0d0d;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 5px;
    margin-left: 10px;
    width: 200px;
    height: 40px;
  }

  #country-table{
    width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10px;
  }

  #school-table{
    width: 1600px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10px;
  }

  #item-table{
    width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10px;
  }

  #user-table{
    width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10px;
  }

  #system-table{
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10px;
  }

  .user-level-container{
    display: flex;
  }

  .userlevelpage{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 50px;
  }

  #userlevelInput{
    margin-top: 20px;
  }

/* 模态对话框 */
.modal {
  display: none; /* 默认隐藏 */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 25vw;
  top: 15vw;
  width: 640px ; /* Full width */
  height: 440px ; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 10000;
}

/* 模态对话框内容 */
#province-edit-content {
  background-color: #efebeb;
  border: 1px solid #888;
  height: 400px;
  width: 600px; /* Could be more or less, depending on screen size */
  margin-top: 0px;
  padding: 20px;
}
/* 上方名称展示 */
.province-name-container{
  display: flex;
  margin-bottom: 20px;
}
.province-name-tip{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* 名称展示end */

/* 表格展示 */
.province-table-container{
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  gap: 20px;
}
#province-table-container{
  margin-top: 5px;
  width: 600px;
  height: 250px;
  border-collapse: collapse;
  overflow-y: auto;
}
#province-table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
/* 表格展示end */

/* 保存与取消按钮 */
.save-btn-container{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.modal-button{
  width: 60px;
  height: 30px;
}
/* 保存与取消按钮end */
/* 模态对话框end */

.item-container {
  display: flex;
  flex-direction: column;
}

.item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* 如果需要的话，可以添加一些底部边距 */
  justify-content: left;
  gap:30px;
}

#item-edit-content {
  background-color: #efebeb;
  border: 1px solid #888;
  height: 400px;
  width: 600px;
  padding: 20px;
}

#province-table {
  width: 500px;
  height: 230px;
  border-collapse: collapse;
  justify-content: center;
}
